/* -----GENERAL------ */

.wrap {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

.contents {
    padding: 30px 0;
}

.valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
    }

/* ----- NAV ----- */

nav {
    width: 100%;
}

/* ----- HERO - Homepage only ----- */

.hero {
    border-bottom: 1px solid gray;
    padding: 80px 0;
    text-align: center;
    background-color: #999;
    background-image: url("../img/dark_embroidery.png");
    color: rgba(255,255,255,0.9);
}


/* ----- MAIN ----- */

/* HOME PAGE */

main section:nth-child(2) {
    background-color: #eee;
}

main section {
    padding: 80px 0;
}

main section img {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

/* Dashboard */

.dashboard {
    margin: 20px 2.5%;
    border: 1px solid gray;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

table {
    width: 100%;
}

.dashboard tbody td:nth-child(n+2) {
    text-align: center;
}

/* Inputs */

.inputs {
    margin: 20px 2.5%;
    border: 1px solid gray;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.inputs .menu {
    text-align: right;
}

#inputs-tabs li a {
     text-align: center;
     vertical-align: middle;
     height: 64px;
}

.has-tip {
    border-bottom: none;
}

.inputs-heading {
    text-align: center;
    width: 100%;
}

.has-tip .button {
    cursor: help;
}

input {
    color: black !important;
    font-size: 15px !important;
}

.tabs-panel p {
    font-size: 13px;
}

.table-expand td  {
    color: black;
    text-align: right;
}

.table-expand .table-expand-row-nested {
    text-align: left;
}

.table-expand #sum {
    text-align: center;
}

/* INPUTS - Accordion CSS */

.table-expand-row input {
    margin: 0;
}

.table-expand-row.is-active .expand-icon::before {
  content: '-';
  padding-right: 10px;
}

.table-expand-row .expand-icon::before {
  content: '+';
  float: left;
  padding-right: 10px;
}

.table-expand {
  margin-top: 5rem;
}

.table-expand tr {
  border: 1px solid #e6e6e6;
}

.table-expand .text-right {
  padding-right: 3rem;
}

.table-expand-row-content {
  display: none;
}

.table-expand-row-content.is-active {
  display: table-row;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.table-expand-row-nested {
  background-color: #e6e6e6;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* Results */

.results {
    background-color: #ffffff;
    border: 1px solid gray;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    margin: 20px 2.5%;
}



/* ----- FOOTER ----- */

footer {
    background-color: #404040;
    height: 200px;
    padding: 40px 0;
}

footer h4 {
    color: rgba(255,255,255,0.85);
    font-size: 1.3em;
}

footer hr {
    border-color: rgba(255,255,255,0.2);
}

footer a {
    display: block;
    color: rgba(255,255,255,0.5);
    font-size: 0.8em;
}

footer a:hover {
    color: rgba(255,255,255,0.8);
}

footer .column:nth-child(2) {
    text-align: right;
}


