<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <title>{% block title %}{% endblock %} - CapEx Appraisal Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <header>
      {% if not session.profile %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">21st Century CapEx Appraisal Tool</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="btn btn-login">Login</a></li>
            </ul>
          </div>
        </nav>
      {% else %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">21st Century CapEx Appraisal Tool</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <img class="avatar" src="{{session.profile.picture}}" alt="Avatar"/>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="btn btn-dashboard" href="{{ url_for('dashboard', user_id=session.user_id) }}">Dashboard</a></li>
                    <li><a class="btn btn-logout" onclick="location.href='/logout';">Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      {% endif %}
    </header>
    <main>
      <div id="content">{% block content %}{% endblock %}</div>
    </main>
    <footer>
      <div class="copyright">
        {% block footer %}
        &copy; Copyright 2017 by Ryan Meyers and Bob Willard.
        {% endblock %}
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Auth0 JavaScript -->
    <script src="https://cdn.auth0.com/js/auth0/8.6.0/auth0.min.js"></script>
    <script>
      var AUTH0_CLIENT_ID = '{{env.AUTH0_CLIENT_ID}}';
      var AUTH0_DOMAIN = '{{env.AUTH0_DOMAIN}}';
      var AUTH0_CALLBACK_URL = '{{env.AUTH0_CALLBACK_URL if env.AUTH0_CALLBACK_URL else "https://sustainable-roi.herokuapp.com/callback" }}';
      var API_AUDIENCE = '{{env.API_IDENTIFIER}}';
    </script>
    <script src="/static/js/app.js"> </script>


  </body>
</html>