<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <title>{% block title %}{% endblock %} - CapEx Appraisal Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Foundation CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <!-- NAV Section -->
    <header data-sticky-container>
      <nav class="top-bar" data-sticky data-options="marginTop:0;">
        <div class="wrap">
          <div class="top-bar-left">
            <h5><a href="/">21st Century CapEx Appraisal Tool</a></h5>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              {% if not session.profile %}
                <li><a class="button radius small btn-login">Login</a></li>
              {% else %}
                <li><a class="button radius small" onclick="location.href='/logout';">Logout</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div id="content">{% block content %}{% endblock %}</div>

    <footer>
      <div class="wrap row small-up-1 medium-up-3">
        <div class="column">
          <h4>Contact Info</h4>
          <hr>
          <a href="#"><span>Phone</span> 647-971-3982</a>
          <a href="#"><span>Email</span> Info@RoiTool.ca</a>
          <a href="#"><span>Address</span> Toronto, Ontario, Canada</a>
        </div>
        <div class="column float-right">
          <h4>Social Media</h4>
          <hr>
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">LinkedIn</a>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then FastClick.js, then Foundation JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>

    <!-- Auth0 JavaScript -->
    <script src="https://cdn.auth0.com/js/auth0/8.6.0/auth0.min.js"></script>
    <script>
      var AUTH0_CLIENT_ID = '{{env.AUTH0_CLIENT_ID}}';
      var AUTH0_DOMAIN = '{{env.AUTH0_DOMAIN}}';
      var AUTH0_CALLBACK_URL = '{{env.AUTH0_CALLBACK_URL if env.AUTH0_CALLBACK_URL else "https://sustainable-roi.herokuapp.com/callback" }}';
      var API_AUDIENCE = '{{env.API_IDENTIFIER}}';
    </script>

    <!-- Load the tool's JS file -->
    <script src="/static/js/app.js"> </script>
    <script> $(document).foundation(); </script>


  </body>
</html>