{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="hero">
    <div class="wrap">
      <h1>21st Century CapEx Appraisal Tool</h1>
      <h3>Streamlined approach. Making the case.</h3>
      <h3>Sustainability included.</h3>
      <a class="button" href="#">Learn More</a>
      {% if not session.profile %}
        <a class="button success radius btn-login">Get Started</a>
      {% else %}
        <a class="button success radius" href="{{ url_for('dashboard', user_id=session.user_id) }}">Dashboard</a>
      {% endif %}
    </div>
  </div>
  <main>
    <section>
      <div class="row wrap">
        <div class="medium-6 column">
          <img src="static/img/windfarm.jpg" alt="Image 1"/>
        </div>
        <div class="medium-6 column">
          <p>This is going to be a great tool!</p>
        </div>
      </div>
    </section>
    <section>
      <div class="row wrap">
        <div class="medium-6 column">
          <p>This part will talk about all the awesome features!</p>
        </div>
        <div class="medium-6 column">
          <img src="static/img/clouds.png" alt="Image 2" />
        </div>
      </div>
    </section>
  </main>
{% endblock %}