{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <section class="inputs">
        <div class="wrap contents">
            <div class="row">
                <div class="small-6 columns">
                    <h3>Inputs Page</h3>
                </div>
                <ul class="small-6 columns menu align-right">
                    <li><a class="button small secondary right" href="{{ url_for('showResults', user_id=session.user_id, project_id=10) }}">Results ></a></li>
                    <li class="divider"></li>
                    <li><a class="button small secondary" href="{{ url_for('dashboard', user_id=session.user_id) }}">< Dashboard</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="columns"><br/><br/>
                    <ul class="tabs" data-tabs id="inputs-tabs">
                        <li class="tabs-title is-active"><a href="#project">Project<br>Details</a></li>
                        <li class="tabs-title"><a href="#opex">Operating<br>Costs</a></li>
                        <li class="tabs-title"><a href="#capex">Capital<br>Costs</a></li>
                        <li class="tabs-title"><a href="#project">Governance</a></li>
                        <li class="tabs-title"><a href="#project">Environment</a></li>
                        <li class="tabs-title"><a href="#project">Community<br>& Customers</a></li>
                        <li class="tabs-title"><a href="#project">Employees</a></li>
                        <li class="tabs-title"><a href="#project">Revenues</a></li>
                        <li class="tabs-title"><a href="#project">Asset<br>Value</a></li>
                        <li class="tabs-title"><a href="#project">Risks</a></li>
                    </ul>

                    <div class="tabs-content" data-tabs-content="inputs-tabs">
                        <div id="project" class="tabs-panel is-active">
                            <h3>Project Details</h3>
                            <p>Explain what the project is all about and how it aligns with and fulfills the organization's purpose.</p>
                            <div class="row valign-middle inputs-heading">
                                <div class="small-3 columns">
                                    <h6>Input Name</h6>
                                </div>
                                <div class="small-1 columns">
                                </div>
                                <div class="small-3 columns">
                                    <h6>Value</h6>
                                </div>
                                <div class="small-5 columns">
                                    <h6>Comments</h6>
                                </div>
                            </div>

                            {% for input in inputs %}
                            <div class="row valign-middle">
                                <div class="small-3 columns">
                                    <h6>{{ input.name }}</h6>
                                </div>
                                <div class="small-1 columns">
                                    <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="{{ input.tooltip }}"><a class="button round tiny info" href="#">Guidance</a></span>
                                </div>
                                <div class="small-3 columns">
                                    <input type="{{ input.type }}" value="{{ input.value }}" placeholder="{{ input.placeholder }}" />
                                </div>
                                <div class="small-5 columns">
                                    <input type="text" value="{{ input.comment }}" />
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="opex" class="tabs-panel">
                            <h3>Operating Expense Savings</h3>
                            <p>Estimate the potential operating expense (OPEX) savings. Treat the line items as prompts to consider if any such savings might result from the initiative.</p>
                            <p>The project's impact on each expense line item may be direct or indirect. Leave any that are unlikely to occur as 0% Change. Estimate the possible percentage reductions in expenses when the project is fully implemented.</p>




                </p>
                        </div>
                        <div id="capex" class="tabs-panel">
                            <h3>Menu 2</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
