{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <section class="inputs">
        <div class="wrap contents">
            <div class="row">
                <div class="small-6 columns">
                    <h3>Inputs Page</h3>
                </div>
                <ul class="small-6 columns menu align-right">
                    <li><a class="button small secondary right" href="{{ url_for('showResults', user_id=session.user_id, project_id=10) }}">Results ></a></li>
                    <li class="divider"></li>
                    <li><a class="button small secondary" href="{{ url_for('dashboard', user_id=session.user_id) }}">< Dashboard</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="columns"><br/><br/>
                    <ul class="tabs" data-tabs id="inputs-tabs">
                        <li class="tabs-title is-active"><a href="#project">Project<br>Details</a></li>
                        <li class="tabs-title"><a href="#opex">Operating<br>Costs</a></li>
                        <li class="tabs-title"><a href="#capex">Capital<br>Costs</a></li>
                        <li class="tabs-title"><a href="#gov">Governance</a></li>
                        <li class="tabs-title"><a href="#env">Environment</a></li>
                        <li class="tabs-title"><a href="#soc">Society</a></li>
                        <li class="tabs-title"><a href="#emp">Employees</a></li>
                        <li class="tabs-title"><a href="#rev">Revenues</a></li>
                        <li class="tabs-title"><a href="#assets">Asset<br>Value</a></li>
                        <li class="tabs-title"><a href="#risks">Risks</a></li>
                    </ul>

                    <div class="tabs-content" data-tabs-content="inputs-tabs">
                        <div id="project" class="tabs-panel is-active">
                            <h3>Project Details</h3>
                            <p>Explain what the project is all about and how it aligns with and fulfills the organization's purpose.</p>

                            <table class="table-expand">
                              <thead>
                                <tr class="table-expand-row">
                                  <th width="250" class="text-center">Input Name</th>
                                  <th class="text-center">Value</th>
                                  <th width=300 class="text-center">Comments</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for input in inputs.project %}
                                <tr class="table-expand-row">
                                    <td data-open-details><a href="#"><span class="expand-icon"></span>{{ input.name }}</a></td>
                                    <td>
                                        <input type="{{ input.type }}" value="{{ input.value }}" placeholder="{{ input.placeholder }}" />
                                    </td>
                                    <td>
                                        <input type="text" value="{{ input.comment }}" />
                                    </td>
                                </tr>

                                <tr class="table-expand-row-content">
                                  <td colspan="8" class="table-expand-row-nested">
                                    <p>{{ input.tooltip }}</p>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>


                        <div id="opex" class="tabs-panel">
                            <h3>Operating Expense Savings</h3>
                            <p>Estimate the potential operating expense (OPEX) savings. Treat the line items as prompts to consider if any such savings might result from the initiative.</p>
                            <p>The project's impact on each expense line item may be direct or indirect. Leave any that are unlikely to occur as 0% Change. Estimate the possible percentage reductions in expenses when the project is fully implemented.</p>

                            <table class="table-expand">
                              <thead>
                                <tr class="table-expand-row">
                                  <th width="250" class="text-center">Input Name</th>
                                  <th class="text-center">Current Expense</th>
                                  <th class="text-center">% Change</th>
                                  <th class="text-center">Savings</th>
                                  <th width=300 class="text-center">Comments</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for input in inputs.opex %}
                                <tr class="table-expand-row">
                                    <td data-open-details><a href="#"><span class="expand-icon"></span>{{ input.name }}</a></td>
                                    <td>
                                        <input class="recalc val" type="{{ input.cur_exp_type }}" value="{{ input.cur_exp_value | round(0) }}" placeholder="{{ input.cur_exp_placeholder }}" />
                                    </td>
                                    <td>
                                        <input class="recalc percent" type="{{ input.percent_type }}" value="{{ input.percent_value | round(0) }}" placeholder="{{ input.percent_placeholder }}" />
                                    </td>
                                    <td>$<span class="savings">{{ (input.cur_exp_value * input.percent_value / 100) | round(0) }}</span></td>
                                    <td>
                                        <input type="text" value="{{ input.comment | safe }}" />
                                    </td>
                                </tr>

                                <tr class="table-expand-row-content">
                                  <td colspan="8" class="table-expand-row-nested">
                                    <p>{{ input.cur_exp_tooltip|safe }}</p>
                                    <p>{{ input.percent_tooltip|safe }}</p>
                                  </td>
                                </tr>
                                {% endfor %}

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Total Saved:</td>
                                    <td id="sum">SUM</td>
                                    <td></td>
                                </tr>

                              </tbody>
                            </table>

                        </div>

                        <div id="capex" class="tabs-panel">
                            <h3>Capital Costs/Expenditures</h3>
                            <p>This page is where you should list the required capital expenditures for the project. </p>
                            <table class="table-expand">
                              <thead>
                                <tr class="table-expand-row">
                                  <th width="350" class="text-center">Capital expenditures (CAPEX) (sample)</th>
                                  <th width="250" class="text-center">Cost</th>
                                  <th width="350" class="text-center">Comments</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for input in inputs.capex %}
                                <tr class="table-expand-row">
                                    <td data-open-details><a href="#"><span class="expand-icon"></span>{{ input.name }}</a></td>
                                    <td>
                                        <input class="recalc val" type="{{ input.type }}" value="{{ input.value | round(0) }}" placeholder="{{ input.placeholder }}" />
                                    </td>
                                    <td>
                                        <input type="text" value="{{ input.comment }}" />
                                    </td>
                                </tr>

                                <tr class="table-expand-row-content">
                                  <td colspan="8" class="table-expand-row-nested">
                                    <p>{{ input.tooltip | safe }}</p>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                        <div id="gov" class="tabs-panel">
                            <h3>Governance</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="env" class="tabs-panel">
                            <h3>Environment</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="soc" class="tabs-panel">
                            <h3>Society</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="emp" class="tabs-panel">
                            <h3>Employees</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="rev" class="tabs-panel">
                            <h3>Revenues</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="assets" class="tabs-panel">
                            <h3>Assets</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        <div id="risks" class="tabs-panel">
                            <h3>Risks</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
